.Carousel-component{
    display: flex;
    justify-content: center;
    overflow:hidden;
    border: 2px solid red;
    width: 85vw;
    height: 100vh;
    margin-bottom: 100px;
}


.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid green;
}