*{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-button{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 120px;
  height: max-content;
  font-size: 40px;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  border: 2px solid red;
}

.mode-button, .r{
  text-align: right;
}
.mode-button, .l{
  text-align: left;
}

/* 
.mode-button, button{
  font-size: 30px;
  background-color: transparent;
  border: none;
} */

.dark {
  background-color: #242424 !important;
  color: rgba(255, 255, 255, 0.87);
  transition: .4s;
}

.light{
  background-color: #f2f2f2 !important;
  color: #242424;
  transition: .4s;
}

.containter-mode{
  border: 2px solid red;
}

h1,h2,h3,h4{
  color:#f77445;
}

/* Copiado para implementar */
/* The switch - the box around the slider */
