    
.AboutMe-component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 220px 0px;
}

.Me {
  font-size: 7vh;
  color:#f77445;
}

.AboutMe-SocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-photo .dark{
  border: 5px solid red;
}

.photo {
  width: 500px;
  /* border: 6px solid green; */
  margin: 0;
  filter: drop-shadow(-5px -10px 10px #722814);
  border-radius: 20px;
  /* box-shadow: 40px 20px 50px #954235; */
  /* height: 500px; */
  /* transform: rotateZ(-45deg) translate(0px, -100px); */
  /* transform: translate(0px, 10px); */
}

.aboutMe-info {
  width: 80vh;
  font-size: 24px;
  text-justify: distribute;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 100%;
  overflow: hidden;
}

.container-logo {
  display: flex;
}

.img-logo {
  width: 40px;
}

/*========================= Mode Light ======================= */
div.git.light {
  filter: invert();
  background-color: white;
}
div.gmail.light {
  filter: invert();
  background-color: white;
}

.logo.linkedin.light {
  filter: invert();
}

/*========================= Mode Dark ======================= */
div.git.dark {
  /* background-color: white; */
  filter: invert();
}
div.gmail.dark {
  filter: invert();
  /* background-color: white; */
}
.dark .img-logo {
  filter: invert();
}
.logo.linkedin.dark {
  filter: invert();
}
